body
{
	background-color:#cccccc;
	color:blue;
	font-size:16pt;
	font-weight:bold;
	/*font-family:Kristen ITC;*/
}

.enca_chico
{
	background-color:blue;
	border-radius:10px;
	border-style:inset;
	border-color:white;
	color:white;
	font-family:Kristen ITC;
	font-size:16pt;
	font-weight:bold;
	text-shadow:3px 3px black;
	width:70%;
}

.enca_mediano
{
	background-color:blue;
	border-radius:10px;
	border-style:inset;
	border-color:white;
	color:white;
	font-family:Kristen ITC;
	font-size:20pt;
	font-weight:bold;
	text-shadow:3px 3px black;
	width:80%;
}

.enca_grande
{
	background-color:blue;
	border-radius:10px;
	border-style:inset;
	border-color:white;
	color:white;
	font-family:Kristen ITC;
	font-size:24pt;
	font-weight:bold;
	text-shadow:3px 3px black;
	width:90%;
}

.imagenes
{
	border-radius:20px;
	border-style:solid;
	border-color:black;
	height:250px;
	width:300px;
}
